<!DOCTYPE html>
<html lang="en">
  {{ template "head" "Home" }}
  <body>
    <h1 class="double">Double Web</h1>
    <div class="subheading"><em>"Now there are two of them."</em></div>

    <div class="pitch">
      <p>
        Double Web empowers small to large business to double small to large
        integers. It's never been been easier to take a number and increase its
        size by its current size. And we do it in Go.
      </p>
      <img src="/static/img/double.png" alt="double" />
    </div>
    <div>
      <a href="/new">Make a new double</a> /
      <a href="/list">See existing doubles</a>
    </div>
  </body>
</html>
