<!DOCTYPE html>
<html lang="en">
  {{ template "head" "List" }}
  <body>
    <h1 class="double">
      <a href="/">Doubled Numbers</a>
    </h1>
    <p>
      These are the numbers that have been doubled so far. Aren't they great?
    </p>
    <table>
      <tr>
        <th>Original</th>
        <th>Double</th>
      </tr>
      {{range $pair := .Dbls}}
      <tr>
        <td>{{index $pair 0}}</td>
        <td>{{index $pair 1}}</td>
      </tr>
      {{end}}
    </table>
    <div>
      <a href="/">Home</a> /
      <a href="/new">Make a new double</a>
    </div>
  </body>
</html>
