<!DOCTYPE html>
<html lang="en">
  {{ template "head" "New" }}
  <body>
    <h1 class="double">
      <a href="/">Calculate a new double</a>
    </h1>
    <p>Congratulations on making the smart choice to double an integer.</p>
    <hr />
    <form method="post">
      <label for="number">What number would you like to double?</label>
      <input type="number" id="number" required name="number" value="" />
      <button type="submit">Submit</button>
    </form>
    <a href="/">I'm not yet brave enough to double a number.</a>
  </body>
</html>
